* {
    margin: 0rem;
    
}

body{
    background-image: url(fundoenzo.jpg);
    
    background-repeat: no-repeat;
    background-size: 102% 102%;
    background-position: center;
   margin: 0;
   height: 100vh; /* Garante que o body tenha 100% da altura da tela */
}

.logo {
    width: 5%;
    height: 5%;
    color: green;
    border-radius: 60%;
    margin-right: 15%;
}
.blur-background {
    background: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
}
.title {
    text-align: center;
    font-size: 100px;
    color: white;
}

